# OpenTelemetry Collector
OTELCOL_IMG=otel/opentelemetry-collector-contrib:0.103.0
OTELCOL_ARGS=

# OpenObserve (setup.sh で自動生成される)
OPENOBSERVE_ROOT_USER_EMAIL=
OPENOBSERVE_ROOT_PASSWORD=
OPENOBSERVE_AUTH=
